@model CreateCasePageViewModel

@{
    ViewData["Title"] = "Create Case";
}

<h1>Create Case</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="PostCreate" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" aria-required="true"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}